

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f7fa;
    color: #333;
}

.encabezado {
    background: linear-gradient(135deg, #df91b1, #eb50de);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.encabezado h2 {
    margin: 0;
    font-size: 32px;
}

.encabezado h3 {
    margin: 10px 0;
}


.gustos, 
ul {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

ul li:last-child {
    border-bottom: none;
}


h3 {
    text-align: center;
    color: #fcf5fc;
}

footer {
    background: #eb95ce;
    color: rgb(221, 61, 194);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer h3 {
    color: #fff;
}
    